doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="thirdparty/Materialize/css/materialize.css")
		link(rel="stylesheet", href="thirdparty/s-alert-css/s-alert-default.css")
		link(rel="stylesheet", href="thirdparty/s-alert-css/s-alert-css-effects/scale.css")
		link(rel="stylesheet", href="css/griddle.css")
		title Hello world
	body
		#content.container
		script(src="js/bundle.js")
