doctype html
html
	head
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(charset="utf-8")
		link(rel="stylesheet", href="thirdparty/font-awesome/font-awesome.min.css")
		//link(rel="stylesheet", href="thirdparty/Materialize/css/materialize.css")
		link(rel="stylesheet", href="css/todo.css")
		link(rel="stylesheet", href="thirdparty/react-s-alert/s-alert-default.css")
		link(rel="stylesheet", href="thirdparty/react-s-alert/s-alert-css-effects/slide.css")
		title Babel & React
	body
		#app.container
		script(src="js/bundle.js")
